
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Defines two equal-width columns */
    grid-template-rows: auto; /* Adjusts row height based on content */
    gap: 10px; /* Adds space between grid items */
  }

.title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.flex-box {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    border-bottom: 1px solid #000;
    align-items: center;
}

.password-length-slider-container {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}

.password-slider {
    width: 100%;
    right: 1.5%;
    margin-bottom: 0;
}

.password-output {
    flex-grow: 8;
}

.password-generator-button-container {
    min-width: 0;
}